* {
	margin: 0;
	padding: 0;
}
body {
	background: url(../img/body1.jpg) repeat-x;	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	_text-align: center;
}
img {
	border: none;
}
a {
	text-decoration: none;
	color: #1B8530;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 18px;
	color: #1B8530;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-bottom: 3px solid #1B8530;
	padding: 0 0 5px 25px;
	margin: 15px 0;
}
h2 {
	font-size: 13px;
	margin-top: 15px;
}

h2.inscricao{
	color: #1B8530;
}

.table-border, .programa, .prog-detalhe {
	border-collapse: collapse;
	margin: 15px auto;
}

.table-border tr th, .programa tr th, .prog-detalhe tr th , .table-border tr td, .programa tr td, .prog-detalhe tr td {
	border: 1px solid black;
	padding: 5px 15px;
}
.programa {
	text-align:center;
}
.programa tr th, .programa tr th {
	padding: 5px;
}
.table-border tr th {
	background: #1B8530;
	color: white;
}
.legenda {
	margin: 15px;	
}
.legenda li {
	padding: 3px;
}
h3 {
	font-weight: normal;
	font-size: 13px;
	padding: 15px;
}
p {
	padding: 3px 0;
	line-height: 18px;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
#geral {
	width: 950px;
	margin: 7px auto 0 auto;
	background: #FFF;
	_text-align: left;
}
#cabecalho {
	border-bottom: 8px solid #1B8530;
}
#data {
	float: right;
	margin-top: 10px;
}
#logo img {
	margin: 20px 0;
}
#central {
	background: url(../img/background.jpg) bottom no-repeat;
	overflow: hidden;
	min-height: 370px;
}
#conteudo {
	float: right;
	width: 712px;
	overflow: hidden;
	margin: 20px 0 220px 0;
	min-height: 200px;
}
#menu {
	width: 220px;
	margin: 20px 0;
	list-style: none;
	float: right;
}
#menu li a {
	background: url(../img/menu.jpg) bottom no-repeat;
	width: 164px;
	height: 32px;
	display: block;
	padding-left: 30px;
	line-height: 32px;
	margin-bottom: 3px;
	color: #333;
	text-decoration:none;
}
#menu li a:hover, #inicio #btinicio, 
#evento #btevento, #agenda #btagenda, 
#localizacao #btlocalizacao, #inscricoes #btinscricoes, 
#chamadas #btchamadas, #convidados #btconvidados, 
#downloads #btdownloads, #comites #btcomites, #programacao #btprogramacao, 
#hospedagem #bthospedagem, #viagemeturismo #btviagemeturismo {
	background: url(../img/menu.jpg) top no-repeat;
	color: #FFF;
}
dt {
	font-weight: bold;
	margin-left: 25px;
	padding: 20px 0 5px 10px;
	/*border-bottom: 3px solid #CCC; */
}
dd, .comite-list li {
	/*border-left: 3px solid #CCC;*/
	padding: 5px 10px;
	margin-left: 25px;	
}
#no-style, .comite-list li, .evento-list li {
	list-style: none;
}
.evento-list li {
	padding: 5px 10px;
}
.convidados img {
	float: left;
	padding: 2px;
	margin-right: 10px;
}
#rodape {
	clear: both;
	background: url(../img/rodape.jpg) repeat-x;
	width: 950px;
	height: 135px;
}
#rodape div {
	border-right: 1px solid #FFF;
	float: left;
	padding: 0 15px;
}
#rodape div img {
	float: left;
	margin: 10px 16px;
}
#rodape #apoio {
	border: none;
	
}
#copyright {
	clear: both;
	background: url(../img/body2.jpg) repeat-x;
	width: 100%;
	height: 33px;
	text-align: center;
	color: #FFF;	
}
#copyright p {
	line-height: 25px;
	width: 500px;
	margin: 0 auto;
}
#copyright #twitter {
	float: left;
}
a#webmaster {
    color: #FFFFFF;
}
.flag {
       margin: 8px 0 0 5px;
}
.link-destaque{
	font-weight: bold;
	display:block;
	margin:0 auto;
	text-align: center;
	font-size: 1.2pc;
}
.central{
	text-align: center;
	margin: 0 auto;
}
#intel {
	width: 950px;
	margin: 0 auto;
	
}