@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Italic.ttf");
    font-style: italic;
}